/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.vscode
/app/Console/Kernel.php
/app/Http/Middleware
/app/Http/Kernel.php
/app/Exceptions
/app/Providers
/app/Models/User.php
/bootstrap
/config
/lang
/public
/routes/api.php
/routes/channels.php
/routes/console.php
/resources/css
/resources/js
/storage
*.DS_Store
.env
.env.backup
.editorconfig
.env.example
.styleci.yml
artisan
composer.json
composer.lock
package.json
phpunit.xml
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
webpack.mix.js